TZ=Asia/Shanghai
FLARUM_BIND_IP=127.0.0.1
FLARUM_HTTP_PORT=18081
REALTIME_BIND_PORT=16001
MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=lowseek_flarum
MYSQL_USER=lowseek_flarum
MYSQL_PASSWORD=CHANGE_ME
