.DS_Store
Thumbs.db
.vagrant
config.php
.env
.idea
vendor
server
core
studio.json
storage/*
!storage/.gitkeep
public/assets/*
!public/assets/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
packages/**/*.backup-*/
packages/**/*.upload/
*.sql
*.sql.gz
*.tar
*.tar.gz
*.bak
*.backup*
*.codex*
nohup.out
